.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 0; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-image: url(images/bg.png);
  background-size: 100%;
  background-position: bottom;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
}

.close {
  color: #fff;
  float: right;
  font-size: 28px;
  font-weight: bold;
  background-color: transparent;
}

.close:hover,
.close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-image: url(images/bg.png);
  background-size: 100%;
  background-position-y: 20%;
}

h1 {
  margin: 60px 0 0 0;
  font-family: 'PT Sans', sans-serif;
  text-shadow: 5px 0 #232931;
  font-size: 4rem;
  color: #fff;
}

h1.winner {
  margin: 20px 0 0 0;
}

h1.winner img {
	width: 65%;
    margin: 40px 0 0 0;
}

h1.title img {
	width: 10%;
    vertical-align: middle;
}

h1.title {
	text-align: center;
}

.addNames {
	width: 80%;
    margin: 0 auto;
}

.headline h1 {
	font-size: 3rem;
}

.info-box {
	display: table;
	margin-top: 30px;
}

.info-cell {
	display: table-cell;
	vertical-align: bottom;
}

.addNames label {
	font-family: 'PT Sans', sans-serif;
	font-size: 1.5rem;
    color: #fff;
    margin-right: 20px;
	font-size: 1.5rem;
    color: #fff;
    margin-right: 20px;
}

.addNames input {
	padding-left: 5px;
}

#myBtn {	
	color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	position: relative;
    bottom: 15px;
    margin-left: 20px;
}

#myBtn:hover,
#btnClose:hover {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
}

p {
  margin: 30px 30px 10px;
    font-size: 2rem;
  color: #fff;
  font-family: 'PT Sans', sans-serif;
}

img {
  width: 80%;
}

#btnClose {
	margin: 20px auto;
    width: 200px;
    display: block;
	color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'PT Sans', sans-serif;
}

footer p {
  font-size: 1.3rem;

}

footer a {
	color: #fff;
}

footer a:hover {
	color: #fff;
	text-decoration: underline;
}

@media only screen and (max-width: 600px) {
	
	h1 {
    margin: 30px 0 0 0;
	}
	
	h1.winner {
    font-size: 3rem;
	}
	
	
	h1.title img {
	display: none;
	}

	.headline h1 {
    font-size: 2rem;
	}
	
	.info-box,		
	.info-cell {
		width: 100%;
	}
	
	#myBtn {
     position: static; 
     margin-left: 0;
     margin-top: 20px;
	}
	
	.modal-content {
 	 background-size: auto;
	}
	
}
